body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f4f4;
    color: #333;
}

header {
    background: #111;
    color: white;
    text-align: center;
    padding: 50px 20px;
}

section {
    padding: 30px;
    background: white;
    margin: 20px;
    border-radius: 8px;
}

h2 {
    color: #222;
}
